@font-face {
  font-family: "CynthoNext-Medium";
  src: url("../assets/fonts/CynthoNext-Medium.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CynthoNext-Regular";
  src: url("../assets/fonts/CynthoNext-Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CynthoNext-Light";
  src: url("../assets/fonts/CynthoNext-Light.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}