$font-family-CynthoNext-500: "CynthoNext-Medium", sans-serif;
$font-family-CynthoNext-400: "CynthoNext-Regular", sans-serif;
$font-family-CynthoNext-300: "CynthoNext-Light", sans-serif;

$main-font-color: #fff;
$header-background-color: #2c2c33;
$menu-background-color: #2d303a;
$underline-header-element: #ff9100;
$burger-menu-line: #ff9100;
